<a href="https://colab.research.google.com/github/susanna-susanna/dau-homeworks/blob/main/nampy_4_%D0%9F%D1%80%D0%BE%D0%B4%D0%B2%D0%B8%D0%BD%D1%83%D1%82%D1%8B%D0%B9_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Домашнее задание

###Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

*   если источник traffic_source равен yandex или google, то в source_type ставится organic
*   для источников paid и email из России - ставим ad
*   для источников paid и email не из России - ставим other
*   все остальные варианты берем из traffic_source без изменений

In [ ]:
import pandas as pd

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')
log

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex
...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email

In [ ]:
def complex_filter(row):
    """Фильтрует строки по следующим правилам:
        если источник traffic_source равен yandex или google, то в source_type ставится organic
        для источников paid и email из России - ставим ad
        для источников paid и email не из России - ставим other
        все остальные варианты берем из traffic_source без изменений
        """
    traf_source = row['traffic_source']
    region = row['region']
    
    if traf_source == 'yandex' or traf_source == 'google':
        return 'organic'
    elif (region == 'Russia') and (traf_source == 'paid' or traf_source == 'email'):
        return 'ad'
    elif (region != 'Russia') and (traf_source == 'paid' or traf_source == 'email'):
        return 'other'
        
    return traf_source

В первом задании можно также использовать вариант решения через метод loc (обычно работает быстрее). Например, для первого правила:
```
log.loc[log.traffic_source.isin(['yandex', 'google']), 'traffic_type'] = 'organic'
```

In [ ]:
log['source_type'] = log.apply(complex_filter, axis=1)
log

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad



###Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1.  Прочитайте содержимое файла с датафрейм
2.  Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [ ]:
import re

In [ ]:
urls = pd.read_csv('URLs.txt')
urls.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [ ]:
len(urls)

93

In [ ]:
urls.loc[urls.url.str.contains('/\d{8}-\w+')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]


###Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [ ]:
ratings = pd.read_csv('ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [ ]:
# группируем по юзерам
# считаем их активности и даты первой и последней активностей
group_user = ratings.groupby('userId').agg({'userId':'count','timestamp':['min','max']})
# group_user = ratings.groupby('userId').agg({'movieId':'count','timestamp':['min','max']}) #т.к нам нужно посчитать кол-во строк, нет разницы, по какому параметру вести счёт count
group_user

       userId   timestamp
        count         min         max
userId
1          20  1260759108  1260759205
2          76   835355395   835356246
3          51  1298861589  1298932787
4         204   949778714   949982274
5         100  1163373044  1163375145
...       ...         ...         ...
667        68   847271220   847272234
668        20   993613196   993613478
669        37  1015829081  1015829766
670        31   938781328   940944033
671       115  1063500751  1074784735

[671 rows x 3 columns]

In [ ]:
# переименую столбец для удобства понимания)))
group_user.rename({'userId': 'activity', 'count': 'level'}, axis=1, inplace=True)
group_user

       activity   timestamp
          level         min         max
userId
1            20  1260759108  1260759205
2            76   835355395   835356246
3            51  1298861589  1298932787
4           204   949778714   949982274
5           100  1163373044  1163375145
...         ...         ...         ...
667          68   847271220   847272234
668          20   993613196   993613478
669          37  1015829081  1015829766
670          31   938781328   940944033
671         115  1063500751  1074784735

[671 rows x 3 columns]

In [ ]:
# отметка для себя: если не правильно прописана вложенность -- будет ошибки! 
# Поэтому внимательно. Оставлю, чтоб всегда было перед глазами
active_user = group_user.loc[group_user.activity > 100]
active_user

ValueError: ignored

In [ ]:
# отметка для себя: если не правильно прописана вложенность -- будет ошибки!
# Поэтому внимательно. Оставлю, чтоб всегда было перед глазами
active_user = group_user.loc[group_user.level > 100]
active_user

AttributeError: ignored

In [ ]:
#нужно указать правильно вложенность при названии столбца
active_user = group_user.loc[group_user.activity.level > 100]
active_user

       activity   timestamp
          level         min         max
userId
4           204   949778714   949982274
8           116  1154389340  1154474527
15         1700   997937239  1469330735
17          363  1127468587  1127476640
19          423   855190091   855195373
...         ...         ...         ...
656         128   986240991   986244044
659         142   834598040   866207451
664         519  1343731283  1441911722
665         434   992836298  1046967769
671         115  1063500751  1074784735

[258 rows x 3 columns]

In [ ]:
# теперь ищем LTV life time value
active_user['LTV'] = active_user.timestamp.max - active_user.timestamp.min

TypeError: ignored

In [ ]:
# пробую такой записью найти разницу между max и min
active_user['LTV'] = active_user.timestamp['max'] - active_user.timestamp['min']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# среднее LTV
active_user['LTV'].mean()

40080507.4496124



###Задание 4
Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).


Необходимо сформировать две таблицы:
*   таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
*   аналогичную таблицу по типам выручки с указанием адреса клиента

*Обратите внимание, что в процессе объединения таблиц данные не должны теряться.*

### К домашнему заданию, задача 4
Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [ ]:
rzd_auto = rzd.merge(auto, on='client_id', how='outer')
rzd_auto

   client_id  rzd_revenue  auto_revenue
0        111       1093.0           NaN
1        112       2810.0           NaN
2        113      10283.0       57483.0
3        114       5774.0          83.0
4        115        981.0         912.0
5        116          NaN        4834.0
6        117          NaN          98.0

In [ ]:
rzd_auto_air = rzd_auto.merge(air, on='client_id', how='outer')
rzd_auto_air

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [ ]:
# если мне нужна инфа по активным клиентам, то сделать нужно how='left'. 
# Но я на всякий случай сделаю how='outer'. Хочу посмотреть, мб у меня есть клиенты, которые в последнее время совсем не приносят прибыли))
# Правильны ли мои рассуждения?)) МБ несу полный бред?))

all_info = rzd_auto_air.merge(client_base, on='client_id', how='outer')
all_info

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4

#Полезные ссылки
[Renaming column names in Pandas](https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas)

[regex_20_04_22](https://colab.research.google.com/drive/1BflO9l8hHzbIu0dSfqRckHXGhZkoWVol)

[Colab 1 с лекции sql_joins](https://colab.research.google.com/drive/1nO2P90YQeWtdl0PxmF8iK47dzaK_UET6)

[Colab 2 с лекции Python_pandas_pivot_and_str](https://colab.research.google.com/drive/1_79YuVSSA7KTXPUVkbKTypD4gZexa7K5#scrollTo=dyCENfTTBLLw)

[Colab 3 с лекции Python_13_join](https://colab.research.google.com/drive/1ZwqeRbcHD-6Dkh2orlsIkNDluQSD-uIs#scrollTo=kMkpzJSYC7vv)

[Colab с вебинара pandas_vs_set_and_dict](https://colab.research.google.com/drive/1Dvljp-oWHRK-tttOeWCfkQwuq_rPIXjS#scrollTo=WmBrHm9CAsQF)